@use 'vars';
@use 'mixins';

.section-title {
    @include mixins.title;
    font-size: 4.8rem;
    text-transform: uppercase;
}

.body-text {
    @include mixins.body-text;
    font-size: 1.5rem;
    line-height: 1.6;
}

%link {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 1.6rem;
    font-size: 1.5rem;
    color: vars.$white;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 30%; 
        height: 2px;
        transform: scaleX(0);
        background-color: vars.$white;
        transition: .3s;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.container {
    max-width: 114rem;
    height: 100%;
    margin: 0 auto;
}

.header {
    height: 65rem;
    background-image: url('../images/desktop/image-hero.jpg');
    background-size: cover;

    &__content {
        height: 100%;
        padding: 6.4rem 0;
        background-color: rgba(0, 0, 0, .5);
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        &__list {
            display: flex;
            transform: translateY(7px);
        }

        &__item {
            display: flex;
        }

        &__link {
            @extend %link;
        }
    }

    &__hero {
        display: flex;
        align-items: center;
        max-width: 67rem;
        height: 100%;

        .section-title {
            padding: 4rem 4rem 2.6rem 4rem;
            font-size: 7.2rem;
            letter-spacing: 1.5px;
            border: 2px solid vars.$white;
            color: vars.$white;
        }
    }
}

.about {
    padding: 16.2rem 0;

    .container {
        display: flex;
        position: relative;
    }

    &__img {
        max-width: 73rem;
    }

    &__text-content {
        position: absolute;
        right: 0;
        max-width: 57rem;
        padding: 9.7rem;
        padding-right: 2.2rem;
        transform: translateY(44%);
        background-color: vars.$white;

        .body-text{
            margin-top: 2.4rem;
            color: vars.$dark-gray;
        }
    }
}

.creations {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__btn {
            width: 15rem;
            padding: 6px 0;
            font-size: 1.5rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            border: 1px solid vars.$black;
            color: vars.$black;
            transition: .3s;

            &:hover {
                background-color: vars.$black;
                color: vars.$white;
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        margin-top: 8rem;
    }

    &__card {
        height: 45rem;
        background-size: cover;

        &__content {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            padding: 0 5.6rem 4rem 4.8rem ;
            transition: .3s;
            @include mixins.title;
            font-size: 2.8rem;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, .1);
            color: vars.$white;
            letter-spacing: 1.5px;

            &:hover {
                background-color: rgba(255, 255, 255, .8);
                color: vars.$black;
            }
        }
    }

    &__card:nth-child(1) {
        background-image: url('../images/desktop/image-deep-earth.jpg');
    }
    &__card:nth-child(2) {
        background-image: url('../images/desktop/image-night-arcade.jpg');
    }
    &__card:nth-child(3) {
        background-image: url('../images/desktop/image-soccer-team.jpg');
    }
    &__card:nth-child(4) {
        background-image: url('../images/desktop/image-grid.jpg');
    }
    &__card:nth-child(5) {
        background-image: url('../images/desktop/image-from-above.jpg');
    }
    &__card:nth-child(6) {
        background-image: url('../images/desktop/image-pocket-borealis.jpg');
    }
    &__card:nth-child(7) {
        background-image: url('../images/desktop/image-curiosity.jpg');
    }
    &__card:nth-child(8) {
        background-image: url('../images/desktop/image-fisheye.jpg');
    }
}