@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  text-transform: uppercase;
}

.body-text {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
}

.header__nav__link {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 1.6rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.header__nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 2px;
  transform: scaleX(0);
  background-color: #ffffff;
  transition: 0.3s;
}
.header__nav__link:hover::after {
  transform: scaleX(1);
}

.container {
  max-width: 114rem;
  height: 100%;
  margin: 0 auto;
}

.header {
  height: 65rem;
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
}
.header__content {
  height: 100%;
  padding: 6.4rem 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav__list {
  display: flex;
  transform: translateY(7px);
}
.header__nav__item {
  display: flex;
}
.header__hero {
  display: flex;
  align-items: center;
  max-width: 67rem;
  height: 100%;
}
.header__hero .section-title {
  padding: 4rem 4rem 2.6rem 4rem;
  font-size: 7.2rem;
  letter-spacing: 1.5px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.about {
  padding: 16.2rem 0;
}
.about .container {
  display: flex;
  position: relative;
}
.about__img {
  max-width: 73rem;
}
.about__text-content {
  position: absolute;
  right: 0;
  max-width: 57rem;
  padding: 9.7rem;
  padding-right: 2.2rem;
  transform: translateY(44%);
  background-color: #ffffff;
}
.about__text-content .body-text {
  margin-top: 2.4rem;
  color: #8c8c8c;
}

.creations__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.creations__header__btn {
  width: 15rem;
  padding: 6px 0;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.3s;
}
.creations__header__btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.creations__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 8rem;
}
.creations__card {
  height: 45rem;
  background-size: cover;
}
.creations__card__content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 0 5.6rem 4rem 4.8rem;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  letter-spacing: 1.5px;
}
.creations__card__content:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}
.creations__card:nth-child(1) {
  background-image: url("../images/desktop/image-deep-earth.jpg");
}
.creations__card:nth-child(2) {
  background-image: url("../images/desktop/image-night-arcade.jpg");
}
.creations__card:nth-child(3) {
  background-image: url("../images/desktop/image-soccer-team.jpg");
}
.creations__card:nth-child(4) {
  background-image: url("../images/desktop/image-grid.jpg");
}
.creations__card:nth-child(5) {
  background-image: url("../images/desktop/image-from-above.jpg");
}
.creations__card:nth-child(6) {
  background-image: url("../images/desktop/image-pocket-borealis.jpg");
}
.creations__card:nth-child(7) {
  background-image: url("../images/desktop/image-curiosity.jpg");
}
.creations__card:nth-child(8) {
  background-image: url("../images/desktop/image-fisheye.jpg");
}

/*# sourceMappingURL=style.css.map */
